[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-contracts"]
	path = lib/solidity-contracts
	url = https://github.com/InjectiveLabs/solidity-contracts
